name: Check
on:
  pull_request: ~
  push:
    branches:
    - main

permissions: read-all

jobs:
  check:
    name: ${{ matrix.what }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
        - what: Format
          how: test -z "$(gofmt -l .)"
        - what: Fuzz (manifest)
          how: go test -fuzztime 60s -fuzz FuzzParseManifest
        - what: Fuzz (workflow)
          how: go test -fuzztime 60s -fuzz FuzzParseWorkflow
        - what: Test
          how: go test
        - what: Vet
          how: go vet
    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: ${{ matrix.what }}
      run: ${{ matrix.how }}
