name: Gomod
on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

permissions: read-all

jobs:
  index:
    name: Index ${{ github.ref_name }}
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Index ${{ github.ref_name }}
      run: go get "github.com/${REPOSITORY}@${VERSION}"
      env:
        REPOSITORY: ${{ github.repository }}
        VERSION: ${{ github.ref_name }}
